
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
    min-height: 100vh;
}
#Support {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;

}

#supportTextContainer {
    width: 100vw;
    background-color: #4A6FA5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

#supportText {
    margin-top: 20px;
    font-size: 20px;
    color: #b7b7b7;
    white-space: pre-wrap;
}

#subjectPicker {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

select {
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    height: 20px;
}

#pickerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#pickerContainer {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h2 {
    color: white;
}

#textArea {
    font-size: 15px;
    margin-top: 20px;
    width: 50vw;
    height: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

#submitButton {
    font-size: 15px;
    background-color: #4A6FA5;
    color: white;
    border: none;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #3A5F95;
}

#submitButton:active {
    background-color: #18325b;
}

#emailField {
    font-size: 15px;
    margin-top: 20px;
    width: 50vw;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}